
<% if @categories.present? %>

  <div class="text-dark m-2">
    Categories | 
    <% @categories.each do |categorie| %>
      <%= link_to "#{categorie}", selection_produit_path(commandeId: @commandeId, articleId: @articleId, categorieVal: categorie), 
            class:"btn btn-sm btn-secondary m-1", :method => :post %> 
    <% end %>
    <% @categorie = params[:categorieVal]%>
  </div> 

  <div class="text-dark mx-2 my-1">
    <% if @categorie.present? %> 
      Couleur | 
        <% @couleurs.each do |couleur| %>
          <% if couleur.present? %>
            <%= link_to "#{couleur}", selection_produit_path(commandeId: @commandeId, articleId: @articleId,  categorieVal: @categorie, couleurVal: couleur), 
                  class:"btn btn-sm btn-secondary mx-2", :method => :post %> 
          <% end %>
        <% end %>
        <% @couleur = params[:couleurVal]%>
    <% end %>
  </div>

<% end %>