    <div class="bloc-entete-model">
      <div class="entete-show">
        <strong>Préparation de l'édition</strong> 
      </div>

    </div>

<%= render "form", messagemail: @messagemail %>

<br>

<div>
  <%#= link_to "Back to messagemails", messagemails_path %>
</div>
