
<% if @commandeId.present? %>

    <div class="card-body p-0 m-1 bg-light text-dark">
      <div class="text-dark text-center">
        <strong>Commande</strong> :  <%= Commande.find(@commandeId).texte_record %>
      </div>
  </div>   
 <% end %>
  

  