 <div class="d-flex centered bg-light rounded shadowed">

    <% if @produit.images.attached? %>
        <% @produit.images.each do |image| %>
            <%= image_tag image, width: "200px", class:"rounded shadowed m-2" %>
        <% end %>
    <% end %>
</div>