
<%= turbo_frame_tag :modal do %>
  <div data-controller="hidemodal" data-action="turbo:submit-end->hidemodal#submitEnd"> 
  
    
    <div class="bloc-entete-model">
      <div class="card card-header entete-index">
          <strong>Nouveau produit</strong> 
      </div>
    </div>

    <%= render "form", produit: @produit %>

    <div>
      <%= link_to "Retour", accueil_admin_path, class:"btn btn-sm btn-secondary" %>
    </div>

  </div>

<% end %>