
<hr>
<strong>test edition</strong> <br> 

  <div class="mb-3">
    <label for="exampleInput" class="form-label">commentaire facture simple</label>
    <input type="text" class="form-control" id="exampleInput">
   </div>

<br><br>
<hr>