<%= turbo_frame_tag :modal do %>
  <div data-controller="hidemodal" data-action="turbo:submit-end->hidemodal#submitEnd"> 
  
    <div class="bloc-entete-model">
      <div class="card card-header entete-index">
          <strong>Nouvelle commande</strong> 
      </div>
    </div>

    <%= render "form", commande: @commande %>

</div>
<% end %>


