<h1>Editing avoirremb</h1>

<%= render "form", avoirremb: @avoirremb %>

<br>

<div>
  <%= link_to "Show this avoirremb", @avoirremb %> |
  <%= link_to "Back to avoirrembs", avoirrembs_path %>
</div>
