	<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light p-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

		<div class="collapse navbar-collapse"></div>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <span class="nav-link active" data-bs-toggle="tab" href="#">
      <%= link_to 'robes de soirées', robes_soirees_path %>
    </span>
  </li>



  <li class="nav-item ">
    <a class="nav-link" data-bs-toggle="tab"  href="#">

      <%#= link_to('robes_soirees') do %>
          <span class="btn navlink"> 
          Robes de mariées 
        </span> 
      <%# end %>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#menu2">Menu 2</a>
  </li>
</ul>


</div>

</nav>