<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <%= wicked_pdf_stylesheet_link_tag "application" %>

   <br> <hr> <br>
    
    <div style="color: rgb(204, 46, 102); width: 900px; display: inline-block; text-align: center;">
       <strong> SARL AUTOUR D'UN SOIR </strong> - 27, 29 Boulevard Carnot 06400 CANNES <br>
        04 93 45 17 17 | contact@a1soir.com
    </div>

</html>