
<hr>

<h1>    hello home </h1>

<hr>

<input type="text" name="daterange" value="" />

<hr>

start date: <input type="text" id="daterange_startvalue" /> <br>  
end date:<input type="text" id="daterange_endvalue" />

<%= render "dateRangePicker" %>

