
  <div class="chartBox mx-auto">
    <canvas id="myChartBarPaiements"></canvas>
  </div>

  <% @data = [@totalPrix, @totalCaution] %>
 
<script>
   
  var couleur1 = 'rgb(213, 155, 19)';
  var couleur2 = 'rgb(240, 214, 83)';

// CHART BAR
    var dataBarPaiements = {
      labels: ['Prix', 'Caution'],
      datasets: [{
      
        data: <%= @data.to_json.html_safe %>,
        fill: true,
        backgroundColor: [ couleur1, couleur2 ],
        borderWidth: 1
      }]
    };

    var delayedBarPaiements;

    var configBarPaiements = {
      type: 'bar',
      data: dataBarPaiements,
      options: {

        plugins: {
            legend: {
                display: false
            },
        },
        aspectRatio: 1,

         animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayedBarCa) {
                    delay = context.dataIndex * 2000  + context.datasetIndex * 10;
                    }
                    return delay;
                },
            },

            borderColor:'rgb(0, 0, 0)',
            pointBorderWidth: 1,
            pointHoverBorderWidth: 20,
            lineTension: 0.4,

          }
      };

        // render init block
    var myChartBarPaiements = new Chart(
      document.getElementById('myChartBarPaiements'),
      configBarPaiements
    );


</script>