
  <div class="chartBox mx-auto">
    <canvas id="myChartLineArticles"></canvas>
  </div>

  <%# @data = Article.group('DATE(created_at)').sum('quantite') %>


<script>
   
  var couleur1 = 'rgb(174, 189, 202)';
  var couleur2 = 'rgb(120, 149, 178)';

// CHART BAR
    var dataLineArticles = {
      datasets: [{
        data: <%= @groupedByDateArticles.to_json.html_safe %>,
        fill: true,
        backgroundColor: [couleur2, couleur1],
        borderWidth: 1
      }]
    };

    var delayedLineArticles;

    var configLineArticles = {
      type: 'line',
      data: dataLineArticles,
      options: {

        plugins: {
            legend: {
                display: false
            },
        },
        aspectRatio: 1,

         animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayedLineArticles) {
                    delay = context.dataIndex * 2000  + context.datasetIndex * 10;
                    }
                    return delay;
                },
            },

            borderColor:'rgb(0, 0, 0)',
            pointBorderWidth: 1,
            pointHoverBorderWidth: 20,
            lineTension: 0.4,

          }
      };

        // render init block
    var myChartLineArticles = new Chart(
      document.getElementById('myChartLineArticles'),
      configLineArticles
    );
  


</script>