
  <div class="chartBox mx-auto">
    <canvas id="myChartPieFournisseur"></canvas>
  </div>

  <% @data = [@nbSoiree, @nbMariee, @nbCostume, @nbAccessoire, @nbDeguisement] %>
 
<script>
  var couleur1 = 'rgb(22, 156, 246)';
  var couleur2 = 'rgb(19, 185, 212)';
  var couleur3 = 'rgb(33, 235, 208)';
  var couleur4 = 'rgb(19, 212, 131)';
  var couleur5 = 'rgb(22, 246, 89)';
  var couleur6 = 'rgb(245, 146, 59)';

  var nbProduits = <%= @nbProduits %>;

  var centerTextDoghnutFournisseur = {
    id: 'centerTextDoghnutFournisseur',
    afterDatasetsDraw(chart, args, pluginOptions){
      const { ctx } = chart;
      ctx.textAlign = "center";
      ctx.textBaseline = "middle";
      ctx.font = "bold 12px sans-serif";
      const text = "nb " + nbProduits ;
      const textWidth = ctx.measureText(text).width;
      const x = chart.getDatasetMeta(0).data[0].x;
      const y = chart.getDatasetMeta(0).data[0].y;
      ctx.fillText(text, x, y);
    }
  }

   var dataPieFournisseur = {
      labels: ['soirée', 'mariée', 'costume', 'accessoire', 'déguisement'],
      datasets: [{
        data: <%= @data.to_json.html_safe %>,
        fill: true,
        backgroundColor: [ couleur1, couleur2 ],
        borderWidth: 1
      }]
    };

    var configPieFournisseur = {
      type: 'doughnut',
          data: {
            labels: ['soirée', 'mariée', 'costume', 'accessoire', 'déguisement'],
            datasets: [{
              data: <%= @data.to_json.html_safe %>,       
              backgroundColor: [ couleur1, couleur2, couleur3, couleur4, couleur5, couleur6 ],
              hoverOffset: 40,
              borderWidth: 1,
              cutout: '50%'
            }]
          },
          options: {
            animation: {
              animateRotate: true,
              duration: 5000
            },
            plugins: {
              legend: {
                display: true,
                position: 'top',
              },
            },

          },
          plugins: [centerTextDoghnutFournisseur]
        };

  var myChartPieFournisseur = new Chart(
    document.getElementById('myChartPieFournisseur'),
    configPieFournisseur
  );

</script>

