<div data-controller="nouveau", class="my-0">
  <div role="button" data-action="click->nouveau#openNouveau" data-nouveau-target="openNouveau", 
       class="btn btn-sm btn-warning", style="inline;">
       Nouveau
  </div>
  <div role="button" data-action="click->nouveau#closeNouveau" data-nouveau-target="closeNouveau", 
       class="btn btn-sm btn-danger", style="inline;">
       Fermer
  </div>
  <div id="new_sousarticle">
    <div data-nouveau-target="nouveauContent">
        <%= render partial: "sousarticles/form", locals: {sousarticle: Sousarticle.new} %>
    </div>
  </div>

</div>