<h1 class="text-dark">Editing sousarticle</h1>

<%= render "form", sousarticle: @sousarticle %>

<br>

<div>
  <%= link_to "Show this sousarticle", @sousarticle %> |
  <%= link_to "Back to sousarticles", sousarticles_path %>
</div>
