<h5>    stats </h5>


to do : 

ajouter une synthese chiffrées :
- nb produit acheté (ref x quantité)
- montant dépensé

graphs avec 
- nb achat pie 
- montant bar
- montant line 

filtres dates sur valeurs textes et sur graphs (et sur liste produits)