<h1>Editing fournisseur</h1>

<%= render "form", fournisseur: @fournisseur %>

<br>

<div>
  <%= link_to "Show this fournisseur", @fournisseur %> |
  <%= link_to "Back to fournisseurs", fournisseurs_path %>
</div>
