
<%= turbo_frame_tag :modal do %>
  <div data-controller="hidemodal" data-action="turbo:submit-end->hidemodal#submitEnd"> 
  
    <div class="bloc-entete-model">
      <div class="card card-header entete-index">
          <strong>Nouveau fournisseur</strong> 
      </div>
    </div>

    <div class="list-records-item">
     <%= render "form", fournisseur: @fournisseur %>
    </div>
  </div>
<% end %>
