<div class="card bloc-dashboard">
  <div class="header-bloc-dashboard"> 
    <div class="row align-items-center m-0 p-0">

      <div class="col format-titre-dashboard text-start">
        <i class="fa iconcolor fa-calendar ms-1 me-1"></i>
      </div>
      
      <div class="col format-titre-dashboard text-center">
        <%= link_to "CALENDRIER", meetings_path, class:"format-titre-dashboard text-center" %> 
      </div>

      <div class="col text-end m-0 p-0">
        <%#<div class="badge rounded-pill counter-model-dashboard"><%= Meeting.count %>
        <%= link_to "", new_meeting_path(), class:"fa fa-add add-dashboard btn btn-sm" %>
      </div>
    </div>
  </div>

  <div class="card-body body-bloc-dashboard"> 
    <table class="table bloc-table table-primary table-striped table-hover m-0 p-0">
      <tbody class="table-light table-dashboard">
        <% @meetings.limit(6).each do | meeting | %>
          <tr> 
            <td> 
              <%= link_to meeting.name, meeting_path(meeting), class:"text-dark crop", style:"text-decoration: none;" %> 
            </td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>

</div>