    <div class="fixed-bottom footer-index text-center bg-dark">

      <div class="row m-0 p-0">
        <div class="col-3 p-0 text-start">
          <%= link_to "", root_path(), title: "site public", class:"fa-solid fa-globe iconcolor-neutre btn btn-sm" %>
          <%#= link_to "", root_path(), title: "site marchand", class:"fa-solid fa-cart-shopping iconcolor-neutre btn btn-sm" %>
        </div>
        <div class="col-6 p-0">
          <span class="text-warning mx-2"> <%= current_user.role %> </span> 
        </div>
        <div class="col-3 m-0 p-0 text-end">
          <%= button_to "", destroy_user_session_path, method: :delete, 
              class:"btn btn-sm btn-danger fa-solid fa-right-from-bracket" %>
        </div>
      </div>

    </div>

