<div id="<%= dom_id postbi %>">
  <p>
    <strong>Body:</strong>
    <%= postbi.body %>
  </p>

  <p>
    <strong>Access:</strong>
    <%= postbi.access %>
  </p>

  <p>
    <strong>Passcode:</strong>
    <%= postbi.passcode %>
  </p>

</div>
