/*
 *= require_tree .
 *= require_self
 *= require simple_calendar

  *= require jquery-ui


 */


html {
    height: 100%; 
}

body {
 /* background-image: url('svg/waves.svg'); */
 /* background-image: url('svg/svg_gris.png'); */
}

main{
  min-height: 100%;
  font-size: large;
}


/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0px;
}


.body-main{
  min-height: 100%;
}

h1, h2, li, ul, a {
  color: rgb(255, 255, 255);
}

.centered {
/*  min-height: 100%; */
  vertical-align: middle; /* vertical centering*/
  text-align: center; /* horizontal centering*/

}

input::placeholder {
  font-weight: normal;
  font-size: large;
  color: blue;
}

input:invalid {
  border: 2px solid red;
}

.format-totaux{
  font-size: small;
  font-weight: bold;
}

.cadre-interieur {
  background-color: rgb(252, 248, 249);
  color:black;
  margin: .5em;
  padding: .5em;
  border-radius: .2em;
  box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
  vertical-align: middle;
 
}

.titre-record{
  color:black;
  font-size: large;
  font-weight: bold;
}


.chartBox {
  max-width: 230px;
  max-height: 230px;
  padding: .2em;
  margin: .2em;
  border-radius: 20px;
  border: solid 2px rgba(50, 50, 50, 1);
  background: white;
}

.vertical-header{
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.label-with-format{
  background-color: rgba(197, 191, 195, 0.8);
  color: rgb(73, 72, 72);
 /* width: 20%;
  height: 4vh;*/
  font-size: medium;
  margin: 0px;
  padding: 5px;
 /* padding-left: .4em;*/
  
}

.label-with-icon{
  background-color:rgba(123, 122, 122, 0.8);
  color: rgb(255, 255, 255);
  height: 4vh;
}

.label-with-format-large{
  background-color:rgba(123, 122, 122, 0.8);
  color: rgb(255, 255, 255);
  width: 30%;
  height: 8vh;
  font-size: medium;
  margin: 0px;
  padding: 0px;
  padding-left: .2em;
}

.input-sized{
  max-width: 120px;
  font-weight: bold;
}

.label-sized{
  width: 80px;
  font-weight: bold;


}

.field-with-format{
  padding: .1em;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0em;
  width: 50%;
  height: 4vh;
  font-size: medium;
}

.field-with-format-large{
  padding: .1em;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0em;
  width: 50%;
  height: 8vh;
  font-size: medium;
}

#notice{
    background-color: green;
    color: white;
    padding: 6px;
    border-radius: 6px;
}

.with-shadow{
    box-shadow: 1px 1px 2px 2px rgb(78, 75, 75);
    color: black;
   /* text-align: center; */
    background-color: whitesmoke;
    padding-left: 20px;
    line-height: 40px;
    padding: .5em;
    border-radius: 1em;
}

.with-round{
    padding: 1.5em .5em .5em;
    border-radius: 4em;
    box-shadow: 0 5px 10px rgba(195, 191, 191, 0.2);
}

.a1soir-colored {
    color:rgb(255, 255, 255);
    background-color: rgb(204, 46, 102);
}

/* dashboard */

.navbar{
    padding-top: .8em;
    padding-bottom: .8em;
   /* margin-right: .5em;*/
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
   /* margin: 5px; */
   /* height: 100vh; */
    background-color:rgb(59, 58, 58);
}

.container-index-items{
    padding: .2em;
    border-radius: .2em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
    margin: .5em;
    /*width: 25%;*/
    height: calc(100vh - 2em);
    background-color:rgb(27, 62, 180);
   /* overflow: hidden; */
  }

.bloc-dashboard{
    background-color: rgb(233, 228, 229);
    padding: .0em;
    border-radius: .2em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
   /* margin-top: 0.3em; */
    margin-bottom: 0.4em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    /*max-width: 50%;*/

   /* height: calc(28.2vh - .6em);
    min-height: 23vh;
    overflow: hidden;*/
}

.bloc-large{
 /* height: calc(27.2vh - .6em);
  min-height: 24vh;
 /* overflow: hidden;*/
}

.btns-bloc-dashboard{
  font-size: medium;
  padding: .2em;
  padding-left: .5em;
  margin: .3em;
}

.btns-texte-bloc-dashboard{
  font-size: small;
  font-weight: bold;
  vertical-align: top;
  margin: .3em;
  padding: .3em;
}

.crop { 
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  width:fit-content; 
  margin: 0em;
  padding: 0em;
}​

.bloc-entete-model{
    background-color: rgb(233, 228, 229);
    margin: 1em;
    padding: 1em;
    border-radius: .2em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
    text-align: center;

}

  .header-bloc-dashboard{
    background-color:rgb(59, 58, 58);
    padding: .5em;
    border-radius: .2em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
   /* margin-bottom: .0em;*/
    font-size: 0.8em;
    vertical-align: middle;
   /* height: 15%; */
  }

  .body-bloc-dashboard{
    font-size: small;
    height: 50%;
    max-height: 100%;
    overflow: hidden;
    margin: 0em;
    padding: 0em;
  }

  .footer-bloc-dashboard{
    /*background-color: rgb(83, 83, 83);*/
    border-radius: .5em;
    margin: 0.1em;
    margin-right: 0.2em;
    padding:0em;
    height: 15%;
    min-height: 30px;
    overflow: hidden;
  }

  .col-dashboard{
    margin: .0em;
    padding: .0em;
  }

.header-model-body {
    background-color: rgb(233, 228, 229);
    padding: .5em;
    border-radius: .2em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
    font-size: .8em;
}

.bloc-table {
  line-height: 4%;
  font-size: small;
  margin: .4em;
  padding: .4em;
}

.table-dashboard{
  line-height: 2vh;
  margin: .1em;
  padding: .1em;
  font-size: large;
}

.format-titre-dashboard{
  font-size: 1em;
  text-align: left;
  vertical-align: middle;
  margin: .0em;
  padding: .0em;
  font-weight: bold;
  text-decoration:none;

}

.table-articles{
  font-size: .8em;
  border-radius: .2em;
  box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
}


.cadre-index{
 /* display: flex; */
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  max-width: 900px;
}

.cadre-index-large{
  /* display: flex; */
   margin-top: 10px;
   align-items: center;
   justify-content: center;
   max-width: 900px;
 }

.bloc-record{
  background-color: rgb(233, 228, 229);
  padding: 1em;
  border-radius: .2em;
  box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
  margin-bottom: .5em;
  font-size: medium;
}

.bloc-record-second{
  background-color: rgb(225, 218, 220);
  padding: 1em;
  margin: 0em 3em 0em 3em;
  border-radius: .2em;
  box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
  font-size: medium;
}

.bloc-details-record{
    background-color: rgb(233, 228, 229);
    padding: .5em;
    border-radius: .2em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    font-size: .8em;
    min-height: 6vh;
    max-height: 70vh;
  }


.text-record-main {
  font-size: medium;
  font-style: bold;
  color: black;
}

.image-produit-sized{
  min-height: 6vh; 
  max-height: 10vh; 
}

.image-produit-sized-large{
  min-height: 24vh; 
  max-height: 40vh; 
}

.image-qr-cb-sized{
  min-height: 3vh; 
  max-height: 6vh; 
}

.image-qr-cb-large-sized{
  min-height: 12vh; 
  max-height: 18vh; 
}

.fit-image{
    max-width: 200px;
    text-align: center;
    vertical-align: middle;
}

.middled {
  text-align: center;
  vertical-align: middle;
  align-items: center;

}

.navbar-item { 
    width:100%;
    padding: 0em;
    margin: 0em;
    text-align: center;
}

.text-navbar { 
    font-size: 1rem;
    font-style: bold;
    padding: 0em;
    margin: 0em;
    text-align: center;
    color:rgb(204, 46, 102);
    text-decoration: none;
}

.iconcolor-nav {
  color:rgb(208, 77, 123);
  padding: .5em;
  margin: .5em;
  font-size: medium;
}

.iconcolor {
    color:rgb(208, 77, 123);
    padding: 0em;
    font-size: large;
}

.iconcolor-true {
  color:rgb(25, 148, 43);
  padding: 0em;
  font-size: 100%;
}

.iconcolor-false {
  color:rgb(191, 5, 5);
  padding: 0em;
  font-size: 100%;
}

.iconcolor-neutre {
  color:rgb(42, 95, 199);
  padding: 0em;
  font-size: 100%;
}

.iconcolor:hover{
    color: white;
}

.iconcolor:focus {
    color: #fff;
}

.footer-table{
  background-color: rgb(59, 58, 58);
  border-style: none;
  border-color: rgb(59, 58, 58);
  vertical-align: middle;
}


.entete-index {
  background-color: rgb(41, 41, 41);
  color: #fff;
  padding: 0em;
  margin: 0em;
  text-align: center;
  font-weight: bold;
} 

.entete-index-second {
  background-color: rgb(79, 79, 79);
  color: #fff;
  padding: 0em;
  margin: 1em 3em 0em 3em;
  text-align: center;
} 

.btn-validate{
  font-size: x-large;
  padding: .4em;
  margin: .5em;
  background-color: rgb(62, 156, 62);
  color: white;
}

.btn-validate:hover {
  background-color: rgb(62, 156, 62);
  color: black;
  font-weight: bold;
}

.btn-action{
  font-size: medium;
  padding: .4em;
  margin: .2em;
}


.badge-infos {
  background-color: rgb(248, 246, 246);
  color:rgb(65, 65, 66);
  border-radius: .2em;
  box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
  padding: .3em;
 /* padding-left: 1em; */
  margin: .4em;
  font-size: medium;
}

.link-record {
  color:rgb(65, 65, 66);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.link-record-large {
  color:rgb(65, 65, 66);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: large;
}

.badge-infos-second {
 /* background-color: rgb(184, 182, 182);*/
  color:rgb(81, 80, 80);
  border-radius: .2em;
  box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
  padding: .3em;
 /* padding-left: 1em; */
  margin: .4em;
  font-size: small;
}

.footer-index {
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;

  box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
  padding: .5em;
} 

.entete-show {
  background-color: rgb(35, 35, 35);
  color: #fff;
  border-radius: .2em;
  padding: .2em;
  margin: 0em;
  text-align: center;
} 

.list-records-item{
  padding: 0em;
  margin: 0em;
}

.th-list-articles{
  font-size: small;
  text-align: center;
  background-color: rgb(121, 121, 121);
  color: black;
}

.format-synthese{
  color: #fff;
  text-align: center;
  font-size: small;
  margin: .5em;
  padding: .1em;
  border-radius: .2em;
  box-shadow: 1px 1px 1px rgba(165, 163, 163, 0.8);
}

.small-icon{
  color:#fff;
  text-align: center;
  font-size: x-small;
  margin: .2em;
  padding: .5em;
}

.img-min-size{
  min-width: 25px;
  max-width: 80px;
  border-radius: .2em;
  box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
}

.img-min-size-50{
  min-width: 12px;
  max-width: 40px;
  margin-left: 10px;
  border-radius: .2em;
  box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);

}


.counter-model{
  position: absolute;
  right: .0em; 
  background-color: rgb(232, 192, 10);
  color:black;
}

.counter-model-dashboard{
  background-color: rgb(232, 192, 10);
  color:black;
  font-size: x-small;
  padding: .4em;
  margin: .0em;
}

.add-dashboard{
  background-color: rgb(49, 74, 220);
  color:rgb(255, 255, 255);
  font-size: small;
  vertical-align: middle;
  margin: .2em;
  padding: .4em;
}

.add-dashboard:hover {
  background-color: rgb(49, 74, 220);
  color: black;
  font-weight: bold;
}

.small-text{
  font-size: small;
}


/* CALENDAR 
  le require css de base de calendar prend le dessus
  donc les codes ci dessous sur day wday etc pas actif

*/

.simple-calendar {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid white;
  font-size: medium;
  font-family: Arial, sans-serif;
  color:rgb(59, 58, 58);
  background-color: white;
}

.day {
  width: 14.28;
  padding: 5px;
  border: 1px solid white;
  text-align: center;
}
  
.wday-0 {
  color: red;
}
.wday-1 {
  color: black;
}
.wday-2 {
  color: black;
}
.wday-3 {  
  color: black;
}
.wday-4 {  
  color: black;
}
.wday-5 {  
  color: black;
}
.wday-6 {  
  color: red;
}

.today {
  background-color: rgb(98, 131, 230);
}
.past {
  color: #fff;
}
.future {
  color: black;
}

.start-date { 
  background-color: #fff;
}

.prev-month {
  color: #fff;
}
.next-month { 
  color: #fff;
}

.current-month {
  color: black;
}

.has-events {
  background-color: rgb(37, 187, 20);
}



.today{
  background-color: rgb(200, 28, 88);
  color: white;
}

.in-range{
  background-color: rgb(106, 112, 210);
}