/*
 *= require_self
 */

html {
    height: 100%;
}

.body-public {
    /* background-image: url('svg/waves.svg'); */
    background-color: rgb(229, 229, 229);
}

.body-doc {
   /*permet de vider le fond du body doc*/
    background: none; 
}

body::-webkit-scrollbar {
    width: .5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.navlink{
   /* white-space: nowrap;*/
    color: rgb(204, 46, 102);
    padding: .2em;
    margin: .2em;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    
}

.centered{
    justify-content: center;
    align-items: center;   
}
.container-fluid {
    justify-content: center;
    align-items: center;
}

h1, h2, p, li, ul, a {
    color: rgb(0, 0, 0);
}

.cadre-main{
    /* display: flex; */
     margin-top: 10px;
     align-items: center;
     justify-content: center;
    /* max-width: 900px;
     /*background-color: rgb(252, 248, 249);*/
     color:black;
     margin: .5em;
     padding: .5em;
   }

.img-produit{
    max-width: 80%;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

.btn-categorie {
    color:rgb(255, 255, 255);
    background-color: rgb(204, 46, 102);
    padding: .4em;
    border-radius: .4em;
    font-size: .8em;
    text-align: center;
    margin: .2em;
    display:inline-block;
    font-weight: bold;
    font-size: medium;
}

.btn-categorie-large {
    text-decoration: none;
    color: rgb(204, 46, 102);
  /*  background-color: rgb(204, 46, 102);*/
    padding: .4em;
    border-radius: .4em;
    text-align: center;
    margin: .2em;
    display:inline-block;
    font-weight: bold;
    font-size: xx-large;
    
}

.btn-reseaux {
    text-decoration: none;
    color: rgb(57, 57, 60);
  /*  background-color: rgb(204, 46, 102);*/
    padding: .4em;
    border-radius: .4em;
    text-align: center;
    margin: .2em;
    display:inline-block;
    font-weight: bold;
    font-size: xx-large; 
}

.btn-footer{
    text-decoration: none;
    color: rgb(53, 13, 27);
    padding: .4em;
    border-radius: .4em;
    text-align: center;
    margin: .3em;
    display:inline-block;
    font-weight: bold;
    font-size: large;
    
}

.btn-homepage {
    text-decoration: none;
    color: rgb(69, 11, 31);
  /*  background-color: rgb(204, 46, 102);*/
    text-align: center;
    display:inline-block;
    font-weight: bold;
    font-size: x-large;
}

.a1soir-colored {
    color:rgb(255, 255, 255);
    background-color: rgb(204, 46, 102);
}

.a1soir-text-colored {
    color: rgb(204, 46, 102);
}

.link-accueil{
    font-size: medium;
    font-weight: bold;
    color: rgb(204, 46, 102);
}

.img-max {
    max-width: 3em;
  }

.img-big {
   /* min-width: 20px;*/
    max-width: 90vw;
  }

.fit-image{
    max-width: 70vw;
    text-align: center;
    vertical-align: middle;
}

.img-centered {
    text-align: center;
}

.verysmall-text {
    font-size: x-small;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;

}

.carousel-control-prev,
.carousel-control-next {
    margin-left: 4vw;
    margin-right: 4vw;
}

.with-round{
    border-radius: 8%;
}

.centered {
    /*  min-height: 100%; */
      vertical-align: middle; /* vertical centering*/
      text-align: center; /* horizontal centering*/
    
}

.middled{
    vertical-align: middle;
  }
  
  .shadowed{
    border-radius: .2em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
  }

.titre-categorie{
    font-size: x-large;
    padding: .5em;
    margin: .2em 0 .2em 0;
    text-align: center;
    background-color: white;
    border-radius: .2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.label-categorie{
    padding: .5em;
    text-align: center;
    margin: .5em;
}

.zoom {
    transition: transform .1s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    color: rgb(148, 33, 73);
}

.zoom-mini {
    transition: transform .1s; /* Animation */
  }
  
  .zoom-mini:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    opacity: 1.5;
}

.wordspaced {
    word-spacing: 20px;
}

.border-md-right {
    border-right: 1px solid silver;
  }
  
@media (max-width: 768px) {  
    .border-md-right {
        border-right: none;
    }
}

