<h1>Editing paiement</h1>

<%= render "form", paiement: @paiement %>

<br>

<div>
  <%= link_to "Show this paiement", @paiement, class:"btn btn-sm btn-primary" %> |
  <%= link_to "Retour", paiements_path, class:"btn btn-sm btn-secondary" %>
</div>
