 <div class="row justify-content-evenly">
    <div class="col-sm bg-light m-2 p-2 rounded">
        <div class="text-center a1soir-text-colored fs-4 m-2 p-2">
            <i class=" fa-solid fa-address-book"></i>
            <span class="fw-bold"> Contacts </span>
        </div>
        <div class="m-2 p-2">
          <%= @texteContact %>
        </div>
    </div>
    <div class="col-sm bg-light m-2 p-2 rounded">
        <div class="text-center a1soir-text-colored fs-4 m-2 p-2">
          <i class=" fa-solid fa-clock"></i>
          <span class="fw-bold"> Horaires </span>
        </div>
        <div class="m-2 p-2">
          <%= @texteHoraire %>
        </div>
    </div>
    <div class="col-sm bg-light m-2 p-2 rounded">
        <div class="text-center a1soir-text-colored fs-4 m-2 p-2">
          <i class=" fa-solid fa-location-dot"></i>
          <span class="fw-bold"> Adresse </span>
        </div>
        <div class="m-2 p-2">
          <%= @texteAdresse %>
        </div>
    </div>
</div>