
<div class="container-fluid centered bg-light rounded">
  <div class="row">
    <div class="col">
      <%= link_to "", "https://www.pinterest.fr/autourdunsoir/", class:"fa-brands fa-pinterest btn-reseaux zoom" %> 
    </div>
    <div class="col">
      <%= link_to "", "https://www.facebook.com/AutourDunSoir/", class:"fa-brands fa-facebook btn-reseaux zoom" %> 
    </div>
    <div class="col">
      <%= link_to "", "https://www.instagram.com/autourdunsoir/", class:"fa-brands fa-instagram btn-reseaux zoom",
        title: "Boutique" %>
    </div>
  </div>
</div>