
  <%# message label paramétré par admin %>
  <% if @label.present? %> 
    <div class="text-center m-4 p-2">  
      <%= render "labelPrincipale" %> 
    </div>
  <% end %>

  <div class="container mx-auto">
    <%= render "accueil/slideshow" %>
  </div>

  <div class="container-fluid mt-4">  
    <%= render "accueil/footer" %>
  </div>

